<!--Ethan Log: All of this new code for case study 3. This connect the home page to the about page-->
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron bg-dark text-white">
    <h1 class="display-4">About</h1>
    <p class="lead">SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
</div>
